{% if log.brewProcedure is not empty %}
<div class="headerContent">Procedure</div>
<div class="data-container">
    <table class="dataTable">
        <tr>
            <td valign="top">{{ log.brewProcedure }}</td>
        </tr>
    </table>
</div>
{% endif %}