{% if log.brewSpecialProcedure is not empty %}
<div class="headerContent">Special Procedures</div>
<div class="data-container">
    <table class="dataTable">
        <tr>
            <td valign="top">{{ log.brewSpecialProcedure }}</td>
        </tr>
    </table>
</div>
{% endif %}